@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap");
* {
  font-family: "Poppins", sans-serif;
}
td {
  padding: 1rem 3rem;
}
td,
table,
th {
  border: 1px solid black;
}
table {
  width: 60vw;
}
nav {
  display: flex;
  align-items: center;
  width: 90vw;
  margin: 2rem 0;
}
nav > section {
  margin-left: auto;
}
nav > section > a {
  padding: 0.5rem 1rem;
  text-decoration: none;
  cursor: pointer;
  color: #12130f;
  transition: all ease-in-out 0.2s;
}
nav > section > a:hover {
  color: blue;
  border-bottom: 1px solid blue;
  font-size: 1.1rem;
  font-weight: bold;
  transition: all ease-in-out 0.2s;
}

img {
  width: 40px;
  height: 40px;
}
.img {
  position: absolute;
  left: 2rem;
  width: 4rem;
  height: auto;
}